<div class="left-data-container">
    <div class="data-image-container row justify-content-center align-items-center">
        <div class="img-container col-5 d-flex justify-content-center">
            <img [src]="imageUrl" alt="Grupo de personas" class="img-fluid" />
        </div>

        <div class="data-container col-7">
            <ng-container *ngIf="esCobertura; else normalView">
                <div class="cuantity-container col d-flex flex-column align-items-center justify-content-center">
                    <h3 class="cuantity-title">Cobertura</h3>
                    <p class="cuantity">{{ porcentajeCobertura }}%</p>
                </div>
                <div class="cuantity-attendance-container col d-flex flex-column align-items-center justify-content-center">
                    <h3 class="cuantity-title">Participantes / Población registrada</h3>
                    <p class="cuantity-attendance">{{ totalParticipantes }} / {{ poblacionTotal }}</p>
                </div>
            </ng-container>
            <ng-template #normalView>
                <div class="cuantity-container col d-flex flex-column align-items-center justify-content-center">
                    <h3 class="cuantity-title">Participantes totales de las actividades</h3>
                    <p class="cuantity">{{ totalParticipantes }}</p>
                </div>
                <div class="cuantity-attendance-container col d-flex flex-column align-items-center justify-content-center">
                    <h3 class="cuantity-title">Asistencias totales a las actividades</h3>
                    <p class="cuantity-attendance">{{ totalAsistencias }}</p>
                </div>
            </ng-template>
        </div>
    </div>
</div>
