<div class="modal-container modal fade" id="edit-indicator-modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <form (ngSubmit)="editarIndicador()" #userForm="ngForm" class="form-container align-items-center justify-content-center">
                <div class="modal-header col d-flex align-items-center justify-content-center position-relative">
                    <h1 class="modal-title" id="indicatorModalLabel">Editar Indicador</h1>
                    <button type="button" class="btn-close position-absolute" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <div class="name-label-container d-flex justify-content-center align-items-center">
                            <div class="name-label">
                                <label for="nombre" class="form-label">Nombre del indicador</label>
                            </div>
                        </div>
                        <div class="name-input d-flex justify-content-center align-items-center">
                            <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="indicador.nombre" required />
                        </div>     
                    </div>

                    <div class="mb-3">
                        <div class="name-label-container d-flex justify-content-center align-items-center">
                            <div class="name-label">
                                <label for="tipo" class="form-label">Tipo de indicador</label>
                            </div>
                        </div>
                        <div class="name-input d-flex justify-content-center align-items-center">
                            <select class="form-select" id="tipo" name="tipo" [(ngModel)]="indicador.tipoIndicador" required>
                            <option value="">Selecciona</option>
                            <option value="Eficacia">Eficiencia</option>
                            <option value="Capacidad Instalada">Capacidad Instalada</option>
                            <option value="Eficacia">Eficacia</option>
                            <option value="Efectividad">Efectividad</option>
                            <option value="Valor">Valor</option>
                            </select>
                        </div>   
                    </div>

                    <div class="mb-3">
                        <div class="name-label-container d-flex justify-content-center align-items-center">
                            <div class="name-label">
                                <label for="temporalidad" class="form-label">Temporalidad</label>
                            </div>
                        </div>
                        <div class="name-input d-flex justify-content-center align-items-center">
                            <select class="form-select" id="temporalidad" name="temporalidad" [(ngModel)]="indicador.temporalidad" required>
                            <option value="">Selecciona</option>
                            <option value="Semanal">Semanal</option>
                            <option value="Mensual">Mensual</option>
                            <option value="Trimestral">Trimestral</option>
                            <option value="Semestral">Semestral</option>
                            <option value="Anual">Anual</option>
                            <option value="Bimestral">Bimestral</option>
                            </select>
                        </div>   
                    </div>

                    <div class="mb-3">
                        <div class="name-label-container d-flex justify-content-center align-items-center">
                            <div class="name-label">
                                <label for="proyecto" class="form-label">Proyecto</label>
                            </div>
                        </div>
                        <div class="name-input d-flex justify-content-center align-items-center">
                            <select class="form-select" id="proyecto" name="proyecto" [(ngModel)]="indicador.proyecto" required>
                            <option value="">Selecciona</option>
                            <option value="Proyecto 3">Proyecto 3</option>
                            <option value="Proyecto 4">Proyecto 4</option>
                            <option value="Proyecto 7">Proyecto 7</option>
                            </select>
                        </div>   
                    </div>

                    <div class="mb-3">
                        <div class="name-label-container d-flex justify-content-center align-items-center">
                            <div class="name-label">
                                <label for="publico" class="form-label">Público interés</label>
                            </div>
                        </div>
                        <div class="name-input d-flex justify-content-center align-items-center">
                            <select class="form-select" id="publico" name="publico" [(ngModel)]="indicador.publicoInteres" required>
                            <option value="">Selecciona</option>
                            <option value="Registros calificados programa">Registros calificados programa</option>
                            <option value="Acreditación institucional">Acreditación institucional</option>
                            <option value="Certificaciones ISO">Certificaciones ISO</option>
                            <option value="Ministerio de educación">Ministerio de educación</option>
                            <option value="Plan pastoral diosesano">Plan pastoral diosesano</option>
                            </select>
                        </div>   
                    </div>

                </div>
                <div class="modal-footer">
                <button type="button" class="cancel-button btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="register-button btn btn-primary" [disabled]="!userForm.valid">Registrar</button>
                </div>
            </form>
        </div>
    </div>
</div>