@use "src/assets/scss/modules/_var.scss" as *;

.buttons-container{
    background-color: $white-color;
    box-shadow: $sombra-general;
    height: 50px;
    flex: none;
}

.btn{
    width: 100%;
    height: 100%;
    background-color: $white-color;
    border-color: $white-color;
    color: black;
    font-size: $font-general-size;

    &:hover {
        background-color: darken($white-color, 5%);
        border-color: darken($white-color, 5%);
    }
}