<div class="manage-department align-items-center justify-content-center">
    <div class="department-container">
        <app-department></app-department>
    </div>
    <div class="department-areas-title-container">
        <app-department-areas></app-department-areas>
    </div>
    <div class="bienestar-area-container">
        <app-bienestar-area></app-bienestar-area>
    </div>
    <div class="evangelizacion-area-container">
        <app-evangelizacion-area></app-evangelizacion-area>
    </div>
    <div class="santa-maria-area-container">
        <app-santa-maria-area></app-santa-maria-area>
    </div>
    <div class="servicio-area-container">
        <app-servicio-area></app-servicio-area>
    </div>
</div>
