@use "src/assets/scss/modules/_var.scss" as *;

.btn{
    font-size: $font-general-size ;
    color: $white-color;
    background-color: $primary-color;
    border-color: $primary-color;
    transition: transform 0.2s ease, background-color 0.2s ease;
    border-radius: $buttons-border-radius;
    &:hover {
        transform: scale(1.05);
        background-color: darken($primary-color, 5%);
        border-color: darken($primary-color, 5%);
    }

    &:active {
        transform: scale(0.97);
    }

}