@use "src/assets/scss/modules/_var.scss" as *;

.department-areas-container{
    background-color: $white-color;
    margin-top: $general-margin-top;
    width: 98%;
    margin-left: 1%;
    height: 70px;
    border-radius: $general-border-radius;
    box-shadow: $sombra-general;
}

.department-areas-title{
    font-size: $font-big-size;
    font-weight: bold;
    color: $dark-green;
}