@use "src/assets/scss/modules/_var.scss" as *;

.principal-container{
    margin-top: $general-margin-top;
}

.left-data-container{
    margin-right: $general-margin-right;
    width: 48%;
    background-color: $white-color;
    border-radius: $general-border-radius;
    box-shadow: $sombra-general;
    overflow: hidden;
    margin-left: $general-margin-left;
}

.right-data-container{
    margin-right: $general-margin-right;
    width: 48%;
    background-color: $white-color;
    border-radius: $general-border-radius;
    box-shadow: $sombra-general;
    overflow: hidden;
}

.left-data-title{
    margin-top: $general-margin-top;
    font-size: $font-general-size;
    font-weight: bold;
    color: $dark-green;
}

.right-data-title{
    margin-top: $general-margin-top;
    font-size: $font-general-size;
    font-weight: bold;
    color: $dark-green;
}

.img-fluid{
    max-height: 85%;
    max-width: 85%;
    object-fit: contain;
    margin-bottom: 10%;
}

.separator{
    background-color: $dark-green;
    height: 5px;
    width: 80%;
    border-radius: $general-border-radius;
    margin-bottom: 10%;
}

.cuantity{
    font-size: 6rem;
    font-weight: bold;
}

.data-image-container{
    margin-left: $general-margin-left;
    max-height: 80%;
    width: 100%;
}