@use "src/assets/scss/modules/_var.scss" as *;

.filters-container{
    background-color: $white-color;
    margin-top: 3%;
    width: 98%;
    margin-left: 1%;
    height: 400px;
    border-radius: $general-border-radius;
    box-shadow: $sombra-general;
}

.filters-title{
    margin-top: 1rem;
    font-size: $font-big-size;
    font-weight: bold;
    color: $dark-green;
}