.pagination {
  .page-link {
    font-size: 1.25rem;
    color: #000;
    width: 2.75rem;
    height: 2.75rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .page-item.active .page-link {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #fff;
  }

  .page-item:first-child .page-link,
  .page-item:last-child .page-link {
    font-size: 1.5rem;
    font-weight: bold;
  }
}
