.pagination {
  .page-link {
    font-size: 1rem;
    color: #000;
    min-width: 2.5rem;
    min-height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .page-item.active .page-link {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #fff;
  }

  .page-item:first-child .page-link,
  .page-item:last-child .page-link {
    font-size: 1.5rem;
    font-weight: bold;
  }
}
