<div class="principal-container d-flex col-12 justify-content-between">
    <div class="left-data-container">
        <app-completed-activities [imageUrl]="imageUrl2"
            [tipoEstructura]="tipoEstructura" [nombreArea]="nombreArea" 
            [filtersRequest]="filtersRequest">
        </app-completed-activities>
    </div>

    <div class="right-data-container">
        <app-total-participants [imageUrl]="imageUrl" [tipoEstructura]="tipoEstructura"
            [nombreArea]="nombreArea" [filtersRequest]="filtersRequest">
        </app-total-participants>
    </div>
</div>