@use "src/assets/scss/modules/_var.scss" as *;

.sub-areas-container {
  background-color: $white-color;
  margin-top: $general-margin-top;
  width: 98%;
  margin-left: $general-margin-left;
  height: 500px;
  border-radius: $general-border-radius;
  box-shadow: $sombra-general;
}

.sub-areas-title {
  margin-top: $general-margin-top;
  font-size: $font-big-size;
  font-weight: bold;
  color: $dark-green;
}

.col-bienestar {
  margin-top: 2.5rem;
}

.bienestar-card {
  height: 350px;
  width: 75%;
  border-radius: 4rem;
  box-shadow: $sombra-general;
  border-width: 0;

  .overlay {
    background-color: rgba(0, 139, 80, 0);
    transition: background-color 0.3s ease;
    z-index: 1;
    border-radius: 4rem;
  }

  &:hover .overlay {
    background-color: rgba(0, 139, 80, 0.2);
  }
}

.card-img-top {
  border-radius: 4rem;
  object-fit: cover;
}

.card {
  border-color: $white-color;
}

.text-area {
  font-size: 2.5rem;
  font-style: $font-general;
  color: $white-color;
  text-shadow: 0 0 2px black;
}

.swiper{
  margin-top: $general-margin-top;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 400px;
}

.swiper-button-next, .swiper-button-prev {
  color: $border-label-color;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

::ng-deep .swiper-pagination-bullet {
  background-color: gray !important;
}

::ng-deep .swiper-pagination-bullet-active {
  background-color: $black-color !important;
  opacity: 0.5;
}