@use "src/assets/scss/modules/_var.scss" as *;

.department-container{
    background-color: $white-color;
    margin-top: $general-margin-top;
    width: 98%;
    margin-left: 1%;
    min-height: 400px;
    height: auto;
    border-radius: $general-border-radius;
    box-shadow: $sombra-general;
    padding-bottom: 20px;
}

.department-title{
    font-size: $font-big-size;
    font-weight: bold;
    color: $dark-green;
    
    @media (max-width: 768px) {
        margin-top: 2rem;
    }
}

.form-container{
    margin-top: 2rem;
    background-color: $secondary-color;
    width: 90%;
    height: 0.5rem;
    border-radius: $general-border-radius;
}

.btn{
    margin-top: 4rem;
    font-size: $font-general-size;
    color: $white-color;
    background-color: $primary-color;
    border-color: $primary-color;
    min-width: 200px;
    
    &:hover {
        background-color: darken($primary-color, 5%);
        border-color: darken($primary-color, 5%);
    }
    
    @media (max-width: 1200px) {
        min-width: 170px;
    }
    
    @media (max-width: 992px) {
        min-width: 150px;
    }
    
    @media (max-width: 768px) {
        margin-top: 2rem;
        width: 80%;
        min-width: auto;
    }
}