<div class="department-container col 12">
    <div class="center-box col-12 d-flex">
        <div class="image-container col-3 d-flex justify-content-center align-items-center">
            <img src="assets/images/manage.png" class="img-top h-100 w-100" alt="img-top" style="object-fit: cover;">
        </div>
        <div class="buttons-container col overlay d-flex flex-column justify-content-center align-items-center">
            <h1 class="department-title">Dirección de Bienestar y Evangelización</h1>
            <div class="form-container">
            </div>
            <div class="buttons-container d-flex justify-content-center align-items-center gap-5">
                <button type="button" class="btn btn-lg">
                    <i class="bi bi-people"></i>
                    Gestionar usuarios
                </button>
                <button type="button" class="btn btn-lg">
                    <i class="bi bi-graph-up"></i>
                    Gestionar indicadores
                </button>
            </div>
    </div>
</div>
