@use "src/assets/scss/modules/_var.scss" as *;

.department-container{
    background-color: $white-color;
    margin-top: 2%;
    width: 98%;
    margin-left: 1%;
    height: 400px;
    border-radius: $general-border-radius;
    box-shadow: $sombra-general;
}

.department-title{
    font-size: $font-big-size;
    font-weight: bold;
    color: $dark-green;
}

.form-container{
    margin-top: 2rem;
    background-color: $secondary-color;
    width: 90%;
    height: 0.5rem;
    border-radius: $general-border-radius;
}

.btn{
    margin-top: 4rem;
    font-size: $font-general-size ;
    color: $white-color;
    background-color: $primary-color;
    border-color: $primary-color;
    &:hover {
        background-color: darken($primary-color, 5%);
        border-color: darken($primary-color, 5%);
  }
}