<div class="modal-container modal fade" id="register-user-modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <form (ngSubmit)="registrarUsuario()" #userForm="ngForm" class="form-container align-items-center justify-content-center">
                <div class="modal-header col d-flex align-items-center justify-content-center">
                    <h1 class="modal-title" id="userModalLabel">Registrar Usuario</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <div class="name-label-container d-flex justify-content-center align-items-center">
                            <div class="name-label">
                                <label for="nombre" class="form-label">Nombres</label>
                            </div>
                        </div>
                        <div class="name-input d-flex justify-content-center align-items-center">
                            <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="usuario.nombre" required />
                        </div>     
                    </div>

                    <div class="mb-3">
                        <div class="name-label-container d-flex justify-content-center align-items-center">
                            <div class="name-label">
                                <label for="apellido" class="form-label">Apellidos</label>
                            </div>
                        </div>
                        <div class="name-input d-flex justify-content-center align-items-center">
                            <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="usuario.apellido" required />
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="name-label-container d-flex justify-content-center align-items-center">
                            <div class="name-label">
                                <label for="correo" class="form-label">Correo</label>
                            </div>
                        </div>
                        <div class="name-input d-flex justify-content-center align-items-center">
                            <input type="email" class="form-control" id="correo" name="correo" [(ngModel)]="usuario.correo" required />
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="name-label-container d-flex justify-content-center align-items-center">
                            <div class="name-label">
                                <label for="contrasena" class="form-label">Contraseña</label>
                            </div>
                        </div>
                        <div class="name-input d-flex justify-content-center align-items-center">
                            <input type="password" class="form-control" id="contrasena" name="contrasena" [(ngModel)]="usuario.contrasena" required />
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="name-label-container d-flex justify-content-center align-items-center">
                            <div class="name-label">
                                <label for="confirmar" class="form-label">Confirmar contraseña</label>
                            </div>
                        </div>
                        <div class="name-input d-flex justify-content-center align-items-center">
                            <input type="password" class="form-control" id="confirmar" name="confirmar" [(ngModel)]="usuario.confirmar" required />
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="name-label-container d-flex justify-content-center align-items-center">
                            <div class="name-label">
                                <label for="tipo" class="form-label">Tipo de usuario</label>
                            </div>
                        </div>
                        <div class="name-input d-flex justify-content-center align-items-center">
                            <select class="form-select" id="tipo" name="tipo" [(ngModel)]="usuario.tipo" required>
                            <option value="">Selecciona</option>
                            <option value="Administrador">Administrador de Dirección</option>
                            <option value="Administrador-area">Administrador de área</option>
                            <option value="Colaborador">Colaborador</option>
                            </select>
                        </div>   
                    </div>

                    <div class="mb-3">
                        <div class="name-label-container d-flex justify-content-center align-items-center">
                            <div class="name-label">
                                <label for="area" class="form-label">Área o Dirección</label>
                            </div>
                        </div>
                        <div class="name-input d-flex justify-content-center align-items-center">
                            <select class="form-select" id="area" name="area" [(ngModel)]="usuario.area" required>
                            <option value="">Selecciona</option>
                            <option value="Direccion">Dirección de Bienestar y Evangelización</option>
                            <option value="Bienestar">Bienestar</option>
                            <option value="Evangelizacion">Evangelización</option>
                            <option value="Hogar">Hogar Santa María</option>
                            <option value="Servicio">Servicio al usuario</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                <button type="submit" class="register-button btn btn-primary" [disabled]="!userForm.valid">Registrar</button>
                <button type="button" class="cancel-button btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>