<div class="principal-container d-flex col-12 justify-content-between">
    <div class="left-data-container">
        <app-total-participants [imageUrl]="'assets/images/home-college.png'" [tipoEstructura]="'DIRECCION'"
            [nombreArea]="'Dirección de Bienestar y Evangelización'" [totalParticipantes]="0">
        </app-total-participants>
    </div>
    <div class="right-data-container">
        <div class="title-container col d-flex justify-content-center align-items-center">
            <h1 class="right-data-title">Participantes por área</h1>
        </div>
        <div class="chart-activities-container">
            <canvas id="participantsChart"></canvas>
        </div>
    </div>
</div>