@use "src/assets/scss/modules/_var.scss" as *;

.principal-container{
    margin-top: $general-margin-top;
}

.left-data-container{
    width: 48%;
    height: 250px;
    background-color: $white-color;
    margin-left: $general-margin-left;
    border-radius: $general-border-radius;
    box-shadow: $sombra-general;
}

.right-data-container{
    margin-right: $general-margin-right;
    width: 48%;
    background-color: $white-color;
    border-radius: $general-border-radius;
    box-shadow: $sombra-general;
    overflow: hidden;
}

.left-data-title{
    margin-top: $general-margin-top;
    font-size: $font-general-size;
    font-weight: bold;
    color: $dark-green;
}

.right-data-title{
    margin-top: $general-margin-top;
    font-size: $font-general-size;
    font-weight: bold;
    color: $dark-green;
}

.img-data-container{
    height: auto;
}

.img-container img {
  max-width: 100%;
  height: auto;
  display: block;
}

.separator{
    background-color: $black-color;
    height: 5px;
    width: 80%;
}

