// Variables de color
$background-color: #F0F0F1;
$primary-color: #008B50;
$hover-green: rgba(0, 139, 80, 0.75);
$white-color: white;
$secondary-color: #FFCA00;
$dark-green: #024426;
$border-label-color: #CED4DA;
$red-color: #FF5476;

// Variables de tipografía
$font-general: 'Roboto', sans-serif;
$font-general-size: 1.8rem;
$font-big-size: 3.6rem;

// Variables de sombra
$sombra-general: 0 4px 8px rgba(0, 0, 0, 0.2);
