// Variables de color
$background-color: #F0F0F1;
$primary-color: #008B50;
$hover-green: rgba(0, 139, 80, 0.75);
$white-color: white;
$black-color: black;
$secondary-color: #FFCA00;
$secondary-color-light: rgba(255, 202, 0, 0.9);
$dark-green: #024426;
$border-label-color: #CED4DA;
$red-color: #FF5476;
$success-color: #28A745;
$muted-gray-color: #666666;
$muted-gray-light-color: #6C757D;
$light-gray-color: #F8F9FA;
$light-gray-alt-color: #E9ECEF;
$border-light-color: #DEE2E6;
$disabled-color: #CCCCCC;

// Variables de tipografía
$font-general: 'Roboto', sans-serif;
$little-font-size: 1.4rem;
$font-general-size: 1.8rem;
$font-regular-size: 2rem;
$font-big-size: 3.6rem;

// Variables de sombra
$sombra-general: 0 4px 8px rgba(0, 0, 0, 0.2);

//variables de radios
$general-border-radius: 1.5rem;
$buttons-border-radius: 1rem;

//variables de margen
$general-margin-top:2rem;
$margin-from-footer: 2%;
$margin-from-header: 2%;
$general-margin-left: 1%;
$general-margin-right: 1%;
$general-margin-bottom: 2%;
