@use 'src/assets/scss/modules/_var.scss' as *;

.footer {
  background-color: $primary-color;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.footer-logo {
  height: 40px;
}