@use "src/assets/scss/modules/_var.scss" as *;

.login-page{
    background-color: $background-color;
    overflow: hidden;
    min-height: 100vh;
}

.center-box{
    background-color: $white-color;
    height: 530px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: $sombra-general;
}

.login-image{
    height: 510px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.login-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.formulario{
    background-color: $white-color;
    text-align: center;
    align-items: center;
}

.iniciar-sesion{
    color: $dark-green;
    font-size: $font-big-size;
    font-weight: bold;
    margin-top: 100px;
}

.barra{
    background-color: $secondary-color;
    height: 1%;
    width: 80%;
    border-radius: 10px;
    margin-left: 9%;
    margin-right: 10%;
}

.form-floating{
    line-height: 1;
    margin-top: 10%;
    margin-left: 12%;
}

.usuario-input{
    font-size: $font-general-size;
}

.form-control{
    font-size: $font-general-size;
    width: 85%;
    height: 30%;
    border-color: $border-label-color;
}

.form-control:focus {
    box-shadow: 0 0 0 0.1rem;
    border-color: black; 
}

.btn{
    margin-top: 2%;
    width: 75%;
    height: 7.5%;
    font-size: $font-general-size;
    color: $white-color;
    background-color: $primary-color;
    border-color: $primary-color;
    &:hover {
        background-color: darken($primary-color, 5%);
        border-color: darken($primary-color, 5%);
    }
}

.alert{
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: $white-color;
    border-color: $white-color;
    color: $red-color;
}
