<div class="areas-container">
    <div class="title-container d-flex justify-content-center align-items-center">
        <h1 class="areas-title">Mis áreas</h1>
    </div>
    <app-separator></app-separator>
    <div class="row align-items-start">
        <div class="col-bienestar col d-flex justify-content-center align-items-center">
            <div class="card bienestar-card position-relative overflow-hidden" style="height: 300px; width: 60%;">
                <img src="assets/images/bienestar.webp" class="card-img-top h-100 w-100" alt="card" style="object-fit: cover;">
                <div class="overlay position-absolute top-0 start-0 w-100 h-100 d-flex flex-column justify-content-center align-items-center">
                    <h5 class="text-area">Bienestar</h5>
                    <app-go-to-area-button text="Ir al área"
                        routerLink="/area-bienestar">
                    </app-go-to-area-button>
                </div>
            </div>
        </div>
        <div class="col-bienestar col d-flex justify-content-center align-items-center">
            <div class="card bienestar-card position-relative overflow-hidden" style="height: 300px; width: 60%;">
                <img src="assets/images/evangelizacion.jpg" class="card-img-top h-100 w-100" alt="card" style="object-fit: cover;">
                <div class="overlay position-absolute top-0 start-0 w-100 h-100 d-flex flex-column justify-content-center align-items-center">
                    <h5 class="text-area">Evangelización</h5>
                    <app-go-to-area-button text="Ir al área"
                        routerLink="/area-evangelizacion">
                    </app-go-to-area-button>
                </div>
            </div>
        </div>
        <div class="col-bienestar col d-flex justify-content-center align-items-center">
            <div class="card bienestar-card position-relative overflow-hidden" style="height: 300px; width: 60%;">
                <img src="assets/images/hogar.webp" class="card-img-top h-100 w-100" alt="card" style="object-fit: cover;">
                <div class="overlay position-absolute top-0 start-0 w-100 h-100 d-flex flex-column justify-content-center align-items-center">
                    <h5 class="text-area">Hogar Santa María</h5>
                    <app-go-to-area-button text="Ir al área"
                        routerLink="/area-hogar-santa-maria">
                    </app-go-to-area-button>
                </div>
            </div>
        </div>
        <div class="col-bienestar col d-flex justify-content-center align-items-center">
            <div class="card bienestar-card position-relative overflow-hidden" style="height: 300px; width: 60%;">
                <img src="assets/images/servicio.webp" class="card-img-top h-100 w-100" alt="card" style="object-fit: cover;">
                <div class="overlay position-absolute top-0 start-0 w-100 h-100 d-flex flex-column justify-content-center align-items-center">
                    <h5 class="text-area">Servicio al Usuario</h5>
                    <app-go-to-area-button text="Ir al área"
                        routerLink="/area-servicio-atencion">
                    </app-go-to-area-button>
                </div>
            </div>
        </div>
  </div>
</div>
