<div class="stadistics row">
    <div class="activities col">
        <div class="number col d-flex align-items-center justify-content-center">
            <p class="cuantity">{{ totalActividades }}</p>
        </div>
    </div>
    <div class="participants col">
        <div class="number col d-flex align-items-center justify-content-center">
            <p class="cuantity">{{ totalParticipantes }}</p>
        </div>
    </div>
    <div class="users col">
        <div class="number col d-flex align-items-center justify-content-center">
            <p class="cuantity">{{ totalAsistencias }}</p>
        </div>
    </div>
</div>
<div class="names row">
    <div class="activities-name col">
        <div class="name col d-flex align-items-center justify-content-center">
            <p class="data-name">Actividades realizadas</p>
        </div>
    </div>
    <div class="participants col">
        <div class="name col d-flex align-items-center justify-content-center">
            <p class="data-name">Número de participantes</p>
        </div>
    </div>
    <div class="users col">
        <div class="name col d-flex align-items-center justify-content-center">
            <p class="data-name">Número de asistencias</p>
        </div>
    </div>
</div>