@import "assets/scss/partials/_buttons.scss";
@import "assets/scss/modules/_var.scss";
@import "assets/scss/partials/_global.scss";
@import "assets/scss/partials/_reset.scss";
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}