<div class="buttons-container d-flex justify-content-between gap-3">
    <button routerLink="/gestionar-direccion" class="btn btn-primary flex-fill">
        <i class="bi bi-pc-display"></i>
        Gestionar Dirección
    </button>

    <button class="btn btn-primary flex-fill" (click)="scrollToFilters()">
        <i class="bi bi-clipboard-data"></i>
        Ver Resumen
    </button>

    <span class="flex-fill" [title]="esColaborador ? 'Tu rol no permite realizar esta acción.' : ''">
        <button class="btn btn-primary w-100" (click)="generarExcel()" [disabled]="generandoExcel || esColaborador">
            <i class="bi bi-journal-plus"></i>
            <span *ngIf="!generandoExcel">Generar Informes</span>
            <span *ngIf="generandoExcel">Generando...</span>
        </button>
    </span>

</div>
