<div class="evangelizacion-area-container col-12 d-flex justify-content-center align-items-center">
    <div class="center-box col-12 d-flex justify-content-center align-items-center">
        <div class="right-data col-8">
            <div class="tittle-container col d-flex align-items-center justify-content-center">
                <h1 class="area-title">Evangelización</h1>
            </div>
            <div class="form col d-flex align-items-center justify-content-center">
                <div class="form-container">
                </div>
            </div>
            <div class="stadistics row">
                <div class="activities col">
                    <div class="number col d-flex align-items-center justify-content-center">
                        <p class="cuantity">30</p>
                    </div>
                </div>
                <div class="participants col">
                    <div class="number col d-flex align-items-center justify-content-center">
                        <p class="cuantity">158</p>
                    </div>
                </div>
                <div class="users col">
                    <div class="number col d-flex align-items-center justify-content-center">
                        <p class="cuantity">5</p>
                    </div>
                </div>
            </div>
            <div class="names row">
                <div class="activities-name col">
                    <div class="name col d-flex align-items-center justify-content-center">
                        <p class="data-name">Actividades realizadas</p>
                    </div>
                </div>
                <div class="participants col">
                    <div class="name col d-flex align-items-center justify-content-center">
                        <p class="data-name">Número de participantes</p>
                    </div>
                </div>
                <div class="users col">
                    <div class="name col d-flex align-items-center justify-content-center">
                        <p class="data-name">Usuarios del área</p>
                    </div>
                </div>
            </div>
            <div class="button-container col d-flex justify-content-center align-items-center">
                <button type="button" class="btn btn-lg" routerLink="/area-evangelizacion">
                    <i class="bi"></i>
                    Ir al área
                </button>
            </div>  
        </div>
        <div class="image-container col-4 d-flex justify-content-center align-items-center">
            <img src="assets\images\evangelizacion.jpg" class="img">
        </div>
    </div>
</div>
