@use "src/assets/scss/modules/_var.scss" as *;

.evangelizacion-area-container{
    background-color: $white-color;
    margin-top: 1rem;
    width: 98%;
    margin-left: 1%;
    height: 300px;
    border-radius: $general-border-radius;
    box-shadow: $sombra-general;
    overflow: hidden;
}

.image-container{
    overflow: hidden;
}

.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-container{
    background-color: $secondary-color;
    width: 90%;
    height: 0.5rem;
    border-radius: $general-border-radius;
}

.area-title{
    font-size: $font-general;
    font-weight: bold;
    color: $dark-green;
}

.cuantity{
    font-size: $font-big-size;
    font-weight: bold;
    color: $dark-green;
    margin-top: 4rem;
}

.data-name{
    font: $font-general;
    font-weight: bold;
}

.btn{
    margin-top: 3rem;
    font-size: $font-general-size ;
    color: $white-color;
    width: 20%;
    background-color: $primary-color;
    border-color: $primary-color;
    &:hover {
        background-color: darken($primary-color, 5%);
        border-color: darken($primary-color, 5%);
  }
}